<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body>
<h1>Salut!</h1>

<div>
<table style="width:50%">

    <tr>
        {% for prod in ProductSections %}

            <th>


            {% if prod.Sections ==  "Ski" %}
                <a href="{% url 'Products:SkiPage' %}">{{prod}}</a>

            {% elif prod.Sections == "Snowboards" %}
                <a href="{% url 'Products:SnowboardsPage' %}">{{prod}}</a>

            {% elif prod.Sections == "SnowboardBoots" %}
                <a href="{% url 'Products:SnowboardBootsPage' %}">{{prod}}</a>

            {% else %}
                <a href="{% url 'Products:SkiBootsPage' %}">{{prod}}</a>
            {% endif %}
                </th>
        {% endfor %}
    </tr>


</table>
    </div>

<p><a href= "{% url 'Products:logout' %}">Log Out</a></p>
</body>
</html>