<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ski Page</title>
</head>
<body>
<h1>Hai sa vedem modelele de snowboards!</h1>

<table border = 1>
    <thead>

    <th>
        Brand
    </th>

    <th>
        Size
    </th>

    <th>
        Availabilty
    </th>

    </thead>
<tbody >

        {% for boards in data %}
<tr>
            {% for key,prod in boards.items %}



            <td>
            {{ prod }}
            </td>




            {% endfor %}
</tr>
        {% endfor %}

</tbody>





</table>

<p><button onclick="window.location.href='http://127.0.0.1:8000/Products';"><strong>Back to main page</strong></button></p>

</body>
</html>